.banner {
    color: white;
    text-align: center;
}

.banner .card-img {
    width: 100%;
    height: 100%;
}

.banner h3 {
    padding-top: 0px;
}

.banner .card-text {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.banner .card-img-overlay {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), transparent);
}

@include media-breakpoint-down(xl) {
    .banner hr {
        display: none;
    }
}

@include media-breakpoint-down(lg) {
    .banner .card-text {
        display: none;
    }
}

@include media-breakpoint-up(lg) {
    .banner p {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@include media-breakpoint-only(xs) {
    .banner h3 {
        font-size: 1rem;
        max-height: 40px;
    }
}

@include media-breakpoint-only(sm) {
    .banner h3 {
        font-size: 1.2rem;
    }
}

@include media-breakpoint-only(md) {
    .banner h3 {
        font-size: 1.3rem;
    }
}

@include media-breakpoint-only(lg) {
    .banner p {
        font-size: 1rem;
    }
}

@include media-breakpoint-only(xl) {
    .banner p {
        font-size: 1.2rem;
    }
}

@include media-breakpoint-only(xxl) {
    .banner p {
        font-size: 1.4rem;
    }
}